* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem 3rem;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 420px) {
  body{
    padding: 1rem 1.5rem;
  }
}